# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables (e.g., Flask app secrets, credentials)
.env
*.env

# macOS system files
.DS_Store

# Logs
*.log
logs/

# Virtual environments
venv/
ENV/
env/
.venv/

# Dependency directory for Python
pip-wheel-metadata/
*.egg-info/
.eggs/

# PyInstaller
# Usually these files are written by pyinstaller packaging code
dist/
build/
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pytest
.cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Local history for version control in IDEs like PyCharm or VSCode
.idea/
.vscode/
.vscode/*
history/

# Files created by Flask server when run
instance/
*.sqlite3

# Test results
test-results/
tests/__pycache__/
